
@{
    Layout = "~/Views/Shared/login_Layout.cshtml";
}

<div class="content">
    <form action="/StudentBack/Login" class="login-form" enctype="multipart/form-data" id="frmLogin" method="post" novalidate="novalidate">
        <div class="form-title">
            <span class="form-title">Mug.  後臺管理系統</span>
            <span class="form-subtitle">Please login.</span>
        </div>
        <div class="form-group">
            <label for="Account" 　class="control-label visible-ie8 visible-ie9">帳號：</label>
            <input autocomplete="off" class="form-control form-control-solid placeholder-no-fix text-box single-line" data-val="true" data-val-required="請輸入帳號" id="Account" name="Account" type="text" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="Account" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label for="Password" 　class="control-label visible-ie8 visible-ie9">密碼：</label>
            <input autocomplete="off" class="form-control form-control-solid placeholder-no-fix text-box single-line password" data-val="true" data-val-required="請輸入密碼" id="Password" name="Password" type="password" value="" />

            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
        </div>
        <div class="form-actions">
            <button id="btnSubmit" type="submit" class="btn red btn-block uppercase">Login</button>
        </div>
        <div class="form-group">
            <span class="text-danger"></span>
        </div>
    </form>
</div>
<button id="btnlock" onclick="btn()" class="btn btn-primary">aa</button>
<script>
   
    function btn()
    {
          $.blockUI({
                    message: "<i class='fa fa-spinner fa-pulse orange' style='font-size:600%'>請稍等</i>", 
                    //borderWidth:'0px' 和透明背景
                    css: { borderWidth: '0px', backgroundColor: 'transparent' },
                });

                //3秒後，解除BlockUI
                setTimeout(function () {
                    $.unblockUI(); 
                }, 3000);
    }
</script>

